<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>아이디</key>
		<string>lion</string>
		<key>닉네임</key>
		<string>king</string>
		<key>비밀번호</key>
		<string>lion@@77</string>
		<key>이름</key>
		<string>징니</string>
		<key>생일</key>
		<string>2023-07-07</string>
	</dict>
	<dict>
		<key>아이디</key>
		<string>happy</string>
		<key>닉네임</key>
		<string>happp</string>
		<key>비밀번호</key>
		<string>happy@@77</string>
		<key>이름</key>
		<string>기쁨</string>
		<key>생일</key>
		<string>2023-12-06</string>
	</dict>
</array>
</plist>
